{
  "providers": {
    "antigravity": {
      "modelOverrides": {
        "gemini-3.8-flash": {
          "contextWindow": 272000
        },
        "gemini-3.7-flash": {
          "contextWindow": 272000
        }
      }
    },
    "google-antigravity": {
      "modelOverrides": {
        "gemini-3.8-flash": {
          "contextWindow": 272000
        },
        "gemini-3.7-flash": {
          "contextWindow": 272000
        }
      }
    }
  }
}
