{
  "lastChangelogVersion": "0.80.2",
  "theme": "dark",
  "defaultThinkingLevel": "medium",
  "hideThinkingBlock": false,
  "terminal": {
    "showTerminalProgress": true
  },
  "steeringMode": "one-at-a-time",
  "packages": [
    "git:github.com/crustyhacker/pi-zerg-swarm"
  ]
}
